*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.padre{
    background-color: #4f3a65;
    display: flex; /* sin este no hay display flex, se pone en el padre */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    /* align-items: center; */
    align-content: center;
    height: 600px;
}
.hijo{
    background-color: #95adbe;
    width: 200px;
    height: 100px;
   
}
.a{
    flex-grow: 1;
    
}
.b{
    flex-grow: 3;
    /* align-self: center; */
    order: 1;
}
.c{
    flex-grow: 2;
}
/* https://flexboxfroggy.com/#es 

flex-flow:wrap-reverse column-reverse;
justify-content:center;
align-content:space-between;
*/